@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.content {
    background-color: #fff;
    border-radius: 15px;
    width: 80%;
    height: 80%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 10px 10px 10px #C2C2C2;
}

.content:before {
    content: "";
    position: absolute;
    background-color: #52AADB;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
}


.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    font-weight: 900;
}

.title-primary {
    color: #fff;
    font-size: 3em;
}

.title-second {
    color: #52AADB;
    font-size: 5em;
    padding-bottom: 50px;
}

.description {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: white;
}

.first-content {
    display: flex;
}

.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
    padding: 0 100px;
}

.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify {
    color: black;
    padding: 0 5px;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
    align-self: center;
    border: none;
    margin-top: 1rem;
    background-color: #52AADB;
    border: 1px solid transparent;
    transition: 1s;
    font-family: 'Poppins', sans-serif;
}

.btn:hover {
    background-color: #fff;
    color: #52AADB;
    border: 1px solid #52AADB;
}

.forget-password {
    text-align: center;
    line-height: 25px;
}

.forget-password a {
    color: #000;
    transition: .5s;
    font-size: 15px;
}

.forget-password a:hover {
    color: #52AADB;
    font-size: 16px;
}

/*VERSÃO MOBILE*/
@media screen and (max-width: 1040px) {
    .content {
        width: 100%;
        height: 100%;
        border-radius: 0;
        box-shadow: none;
    }
    .content::before {
        width: 100%;
        height: 40%;
        top: 0;
        border-radius: 0;
    }
    .first-content,
    .second-content {
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
    }

    .first-column,
    .second-column {
        width: 100%;
    }

    .form {
        width: 90%;
    }
}
@media screen and (max-width: 570px) {
    .first-column{
        padding: 0 50px;
    }
}
@media screen and (max-width: 425px) {
    img{
        width: 140px;
    }
    .title-primary {
        font-size: 30px;
    }
    .title-second{
        font-size: 50px;
        padding: 0 0 40px 0;
    }
    .description{
        font-size: 15px;
        padding: 0;
    }
}
@media screen and (max-width: 375px) {
    img{
        width: 120px;
    }
    .title-primary {
        font-size: 25px;
    }
    .title-second {
        font-size: 45px;
    }
    .description{
        font-size: 13px;
    }
    .forget-password{
        margin-bottom: 50px;
    }
}